<h2>New Recipet</h2>
<form action="/Home/Create" method="post" class="form-horizontal">
    <fieldset>
        <legend></legend>
        <div class="form-group">
            <label for="Date" class="col-lg-4 control-label">Date</label>
            <div class="col-lg-6">
                <input class="form-control" data-val="true" data-val-date="The field Date must be a date." data-val-required="The Date field is required." id="Date" name="Date" type="date" value="" />
                <span class="field-validation-valid" data-valmsg-for="Date" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="WorldWideWork" class="col-lg-4 control-label">World Wide Work</label>
            <div class="col-lg-6">
                <input class="form-control" data-val="true" data-val-number="The field WorldWideWork must be a number." id="WorldWideWork" name="WorldWideWork" type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="WorldWideWork" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="KingdomHallFund" class="col-lg-4 control-label">Kingdom Hall Fund</label>
            <div class="col-lg-6">
                <input class="form-control" data-val="true" data-val-number="The field KingdomHallFund must be a number." id="KingdomHallFund" name="KingdomHallFund" type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="KingdomHallFund" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="Congregation" class="col-lg-4 control-label">Local Congregation</label>
            <div class="col-lg-6">
                <input class="form-control" data-val="true" data-val-number="The field Congregation must be a number." id="Congregation" name="Congregation" type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="Congregation" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <input class="form-control" id="Misc1Name" name="Misc1Name" type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="Misc1Name" data-valmsg-replace="true"></span>
            </div>
            <div class="col-lg-6">
                <input class="form-control" data-val="true" data-val-number="The field Misc1 must be a number." id="Misc1" name="Misc1" type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="Misc1" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <input class="form-control" id="Misc2Name" name="Misc2Name" type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="Misc2Name" data-valmsg-replace="true"></span>
            </div>
            <div class="col-lg-6">
                <input class="form-control" data-val="true" data-val-number="The field Misc2 must be a number." id="Misc2" name="Misc2" type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="Misc2" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="Total" class="col-lg-4 control-label">Total:</label>
            <div class="col-lg-6">
                <input class="form-control" id="total" name="total" type="text" value="" disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-4"></div>
            <div class="col-lg-2">
                <input type="submit" id="saveBtn" name="saveBtn" class="btn btn-success" value="Save" />
                <input type="reset" id="cancelBtn" name="cancelBtn" class="btn btn-danger" value="Cancel" />
            </div>
        </div>
    </fieldset>
</form>

@section scripts {
    <script type="text/javascript">

        //OnLoad
        $(function () {

            //Wire up onchange event for input fields
            $("input#WorldWideWork").change(calcTotal);
            $("input#KingdomHallFund").change(calcTotal);
            $("input#Congregation").change(calcTotal);
            $("input#Misc1").change(calcTotal);
            $("input#Misc2").change(calcTotal);

            //Form is ajaxy, dont allow it to go anywhere
            $("form").submit(function () {
                return false;
            });

            //Our createReciept show fire when we click the submit button
            $("#saveBtn").click(createReciept);
        });

        //Calc the totals of all contributions, and display in totals line
        function calcTotal() {
            var total = 0;
            total += Number($("input#WorldWideWork").val());
            total += Number($("input#KingdomHallFund").val());
            total += Number($("input#Congregation").val());
            total += Number($("input#Misc1").val());
            total += Number($("input#Misc2").val());

            $("input#total").val("$" + Number(total).toFixed(2));
        }

        //OnCreate - upload the reciept data to the server when we click he create button
        function createReciept() {
            //Create a message to send to the server
            var data = {
                "WorldWideWork": $("input#WorldWideWork").val(),
                "KingdomHallFund": $("input#KingdomHallFund").val(),
                "Congregation": $("input#Congregation").val(),
                "Miscellaneous1Name": $("input#Misc1Name").val(),
                "Miscellaneous1": $("input#Misc1").val(),
                "Miscellaneous2Name": $("input#Misc2Name").val(),
                "Miscellaneous2": $("input#Misc2").val()
            }

            //Send it up
            $.post("/api/Reciept", data)
                .success(function (response, status) {
                    window.location = "@Url.Action("History", "Home")";                    
                })
                .error(function (xhr, status, error) {
                    alert(response);
                })
                .always(function (xhr, status, error) {
                    alert("always");
                })
                .done(function (xhr, status, error) {
                    alert("done");
                });
        }
    </script>
}